{% extends "::layout.html.twig" %}

{% block title %}Mes Annonces - {{ parent() }} {% endblock %}

{% block body %}
    <h2>Annonces</h2>

    {% block diplatform_body %}
    {% endblock %}

{% endblock %}
